<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
Category:<br>
<% @post.categories.each do |cat| %>
    <%= link_to cat.name, category_path(cat) %>
<% end %>
<br><br>
Comments:<br>
<% @post.comments.each do |com| %>
    <% if com.user %>
    <p><%= com.user.username %> says: <%= com.content %></p>
    <% end %>
<% end %>

<% users = [] %>
<% @post.comments.each do |com| %>
    <% users << com.user %>
<% end %>
<% users.uniq.each do |user| %>
    <% if user %>
    <%= link_to user.username, user_path(user) %><br>
    <% end %>
<% end %>
<br>
<br>
<%= form_for @post.comments.build do |f| %>
  <%= f.label "Add Comment:" %>
  <%= f.text_field :content %>

  
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: 'Select User' %>

  <%= f.label " OR Create New User:" %>
  <%= f.fields_for :user, @post.users.build do |user_fields| %>
    <%= user_fields.text_field :username %>
  <% end %>

<br>
  <%= f.hidden_field :post_id, value: @post.id %>

  <%= f.submit %>
<% end %>


